{
  "extends": ["xo", "prettier"],
  "env": {
    "jest": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "printWidth": 90
      }
    ]
  },
  "plugins": ["prettier"]
}
